In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import matplotlib.colors as mcolors
import pandas as pd 
import random
import math
import time
from sklearn.linear_model import LinearRegression, BayesianRidge
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error
import datetime
import operator 
plt.style.use('fivethirtyeight')
%matplotlib inline
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')
import warnings
warnings.filterwarnings("ignore")

# Here are the Data Source

In [8]:
confirmed_df = pd.read_csv('C:/MachineLearning/Capstone/time_series_covid19_confirmed_US.csv')
deaths_df = pd.read_csv('C:/MachineLearning/Capstone/time_series_covid19_deaths_US.csv')
latest_data = pd.read_csv('C:/MachineLearning/Capstone/03-10-2021.csv')

In [3]:
confirmed_df.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/10/21,3/11/21,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21,3/19/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6400,6409,6409,6416,6426,6471,6474,6483,6495,6498
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,20012,20044,20072,20091,20103,20210,20227,20263,20287,20317
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2161,2171,2175,2181,2184,2195,2198,2199,2202,2206
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,2469,2474,2475,2479,2481,2499,2508,2512,2519,2521
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,6260,6274,6282,6288,6291,6353,6361,6371,6376,6380

In [4]:
deaths_df.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/10/21,3/11/21,3/12/21,3/13/21,3/14/21,3/15/21,3/16/21,3/17/21,3/18/21,3/19/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,93,95,95,95,95,95,95,96,98,98
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,293,294,294,294,294,294,294,295,296,296
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,51,52,52,53,53,53,53,54,54,54
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,58,58,58,58,58,58,58,58,58,58
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,129,129,129,129,129,129,129,129,130,130

In [9]:
latest_data.tail()

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,Total_Test_Results,People_Hospitalized,Case_Fatality_Ratio,UID,ISO3,Testing_Rate,Hospitalization_Rate
53,Virginia,US,2021-03-11 05:30:58,37.7693,-78.1700,589375,9849,NaN,NaN,51.0,6904.969692,6066323.0,NaN,1.671092,84000051.0,USA,71071.518908,NaN
54,Washington,US,2021-03-11 05:30:58,47.4009,-121.4905,347131,5100,NaN,NaN,53.0,4558.580140,5453036.0,NaN,1.469186,84000053.0,USA,71610.146065,NaN
55,West Virginia,US,2021-03-11 05:30:58,38.4912,-80.9545,134158,2330,NaN,NaN,54.0,7485.881460,2276703.0,NaN,1.736758,84000054.0,USA,127037.737418,NaN
56,Wisconsin,US,2021-03-11 05:30:58,44.2685,-89.6165,623150,7150,NaN,NaN,55.0,10702.568720,7095973.0,NaN,1.147396,84000055.0,USA,121872.965842,NaN
57,Wyoming,US,2021-03-11 05:30:58,42.7560,-107.3025,55014,691,NaN,NaN,56.0,9505.510929,653069.0,NaN,1.256044,84000056.0,USA,112839.541156,NaN